:root {
    --white: 255, 255, 255; /* #FFFFFF */
    --grey: 85, 85, 85; /* #555555 */
    --darkGrey: 34, 34, 34; /* #222222 */
    --black: 0, 0, 0; /* #000000 */
}

html {
    height: 100%;
}

body {
    background: url("/media/homepage_background_cropped.jpg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgba(var(--grey), 1);
    font-family: "Lato", sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgba(var(--black), 1);
    color: rgba(var(--white), 1);
    min-width: 260px;
}

.btn-black {
    background: rgba(var(--black), 1);
    color: rgba(var(--white), 1);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgba(var(--darkGrey), 1);
    color: rgba(var(--white), 1);
}

.text-black {
    color: rgba(var(--black), 1) !important;
}

.border-black {
    border: 1px solid rgba(var(--black), 1) !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
